block variables
	- title = 'Savory Institute'

extends /layout-savory-journeys
meta(property="og:url" content="http://www.nytimes.com/2015/02/19/arts/international/when-great-minds-dont-think-alike.html")
meta(property="og:type" content="article")
meta(property="og:title" content="When Great Minds Don’t Think Alike")
meta(property="og:description" content="How much does culture influence creative thinking?")
meta(property="og:image" content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg")

block content
	#overview(data-magellan-destination='overview')
	section.overview(style="background-image: url('#{headerPicture}');")

	section.main.savory-journey-template
		h1 #{journeyTitle}
		h3 #{journeySubtitle}
		h3 #{journeyDate}
		p #{journeyDescription}
		if highlights
			h3 #{highlights}
			ul.highlights
				each val in highlightText
					li= val
		if itinTitle
			h3 #{itinTitle}
			each val in itinerary
				h5= val[0]
				p !{val[1]}
		if costTitle
			h3 #{costTitle}
			each val in costText
				p !{val}
		if expectTitle
			h3 #{expectTitle}
			each val in expectText
				h5= val[0]
				p !{val[1]}
		if questionsTitle
			h3 #{questionsTitle}
			each val in questionsText
				p !{val}
			a.button.small(href='/assets/docs/terms-and-conditions-for-journey-participants.pdf') Terms and Conditions		
		h3 #{journeyAvailability}
		if( journeyAvailability == 'Now Open')
			a.btn-primary(href='http://savory-institute.myshopify.com/collections/savory-journeys') Find Tickets