block variables
  - title = hub.getText('hubs.hub')

extends /layout

block content
  section.main
    .row
      .small-12.columns
        h1= hub.getText('hubs.hub')
        hr

    .hub-overview
      .row
        .medium-8.columns
          ul(data-orbit='')
            each image_fragment in hub.getGroup('hubs.gallery').toArray()
              - image = image_fragment.fragments.picture.value
              li
                img(src=image.main.url)
        .medium-4.columns
          .hub-logo
            img(src=hub.getImage('hubs.logo-image').main.url)
          .stats
            !=hub.getStructuredText('hubs.stats').asHtml()
            !=hub.getLink('hubs.hub-website').asHtml()

  section.main
    .row
      .small-12.columns
        h2 Overview
        !=hub.getStructuredText('hubs.overview').asHtml()


  section.main
    .row
      .small-4.columns
        figure.img-love
          img(src=hub.getImage('hubs.leadership-image').main.url)
          figcaption!=hub.getText('hubs.leadership-image-caption')


      .small-8.columns
        h2 Leadership
        !=hub.getStructuredText('hubs.leadership').asHtml()
        
        
  section.videos
    .row
      .small-12.columns
        h2 Media

    - videos = [hub.getText('hubs.video-1'), hub.getText('hubs.video-2')]
    .row
      for video in videos
        if video
          .medium-6.columns
            .flex-video.widescreen
              iframe(width='640', height='360',src='//www.youtube.com/embed/'+video+'?rel=0', frameborder='0', allowfullscreen='')


  section.main
    .row
      .small-12.columns
        h2 Services
        !=hub.getStructuredText('hubs.services').asHtml()
        
