block variables
  - title = 'Article'

extends /layout-network

block content

  section.main.news-post
    .row
      .small-12.columns
        figure.img-love
          img(src=article.getImage('news.image').main.url)
          figcaption!=article.getStructuredText('news.figcaption').asHtml()
        header
          .row
            .small-2.columns
              - date = momentDate(article.getDate('news.date'))
              .date
                .month=date.format('MMM')
                .day=date.format('DD')
                .year=date.format('YYYY')
            .small-10.columns
              h1
                =article.getText('news.title')
        !=article.getStructuredText('news.body').asHtml()
