block variables
  - title = 'News'

extends /layout-platform

block content

  section.main
    .row
      .small-12.columns
        h1= title

        ul.news-archives
          each article in news.results
            li
              .row
                .large-3.medium-5.columns.hide-for-small-only
                  a(href='/news/'+article.getText('news.slug'))
                    img(src=article.getImage('news.image').views['homepage'].url)
                .large-9.medium-7.columns
                  h2= article.getText('news.title')
                  - date = momentDate(article.getDate('news.date'))
                    .date
                      =date.format('MMM DD, YYYY')
                  !=article.getStructuredText('news.shortlede').asHtml()
                  a.button.small(href='/news/'+article.getText('news.slug')) Read Full Article
                  

    .row.prev-next
      .small-6.columns
        if next
          p: a.btn-primary(href=next)
            i.fa.fa-backward 
            | Older
      
      .small-6.columns
        if prev
          p.newer: a.btn-primary(href=prev) 
            | Newer
            i.fa.fa-forward 
